.order-root {
  border: 1px solid #dddddd;
  // ===== coin info
  .coin-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44px;
    .text {
      padding-right: 15px;
    }
    > div {
      padding: border 1px solid;
      padding: 0 40px;
    }
  }
  // ===== order table
  .order-table {
    th {
      border: 1px solid #dddddd;
      border-collapse: collapse;
      vertical-align: middle;
      height: 44px;
      text-align: center;
      &.th_sell-volume,
      &.th_buy-volume,
      &.th_price {
        width: 194px;
      }
      &.th_buy-button,
      &.th_sell-button,
      &.th_cancel-button {
        width: 131px;
        background: #f9f9f9;
        position: relative;
        &:before {
          transition: all 0.2s linear;
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0;
        }
        &.active {
          background: #ffffff;
          font-weight: bold;
          &:before {
            height: 3px;
          }
        }
      }

      &.th_buy-button.active {
        color: red;
        &:before {
          background: red;
        }
      }
      &.th_sell-button.active {
        color: blue;
        &:before {
          background: blue;
        }
      }
      &.th_cancel-button.active {
        color: #222222;
        &:before {
          background: #222222;
        }
      }
    }
    td {
      border: 1px solid #dddddd;
      border-collapse: collapse;
      height: 44px;
      vertical-align: middle;
      padding: 0 10px;
      &.td_cell-volume {
        text-align: right;
        &.td_cell-volume.left-align {
          text-align: left;
        }
      }
      &.selling_td {
        background: #e8eef3;
      }
      &.buying_td {
        background: #ffebee;
      }
      &.td_cell-price {
        text-align: right;
        border-right: 1px solid transparent;
        font-weight: bold;
        cursor: pointer;
      }
      &.td_cell-ratio {
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }
      &.td_cell-yesterday-info {
        padding: 15px;
        vertical-align: top;
        font-weight: bold;
        .td_row {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          line-height: 1.5rem;
          .key,
          .value {
            width: 50%;
          }
          .value {
            color: #222222;
          }
        }
      }
      &.form-section {
        vertical-align: top;
        padding: 15px;
      }
    }
    // 전체 체결
    .trade-history-section {
      vertical-align: top;
      padding: 0;
    }
    // 매수 매도 잔량
    .selling-residual-quantity-container,
    .buying-residual-quantity-container {
      > span {
        display: inline-block;
        width: 50%;
        &.quantity {
          text-align: right;
        }
      }
    }
  }
}
